@charset "utf-8";
/**
** @author:MadHouse R&D
** @copyright MadHouse Inc
**/

/*-  Html Tags Reset -*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure {padding:0; margin:0; }
body {font:12px/1.5 Arial,Tahoma,Helvetica,simsun,sans-serif; color:#666; }
bbr,article,aside,bb,datagrid,datalist,details,dialog,eventsource,figure,figcaption,header,mark,menu,meter,nav,output,progress,section,time {display: block; height:auto; }
ol, ul{list-style:none outside; }
h1, h2, h3, h4, h5, h6{font-size:100%;}

h3  a{ margin-left:5px}

fieldset{border:0 none; vertical-align:middle; }
a{color:#555; text-decoration:none; }
a:hover{color:#c60120; text-decoration:underline; }
em{font-style:normal; }
input, textarea{padding:2px; }
textarea{overflow-y:auto; }
input,select,textarea {font:12px Arial,Tahoma,simsun; }
button{ overflow:visible; padding:0; vertical-align:middle; }
button,label{cursor:pointer; }
.clearfix:after{content:"."; height:0; visibility:hidden; display:block; clear:both; font-size:0; line-height:0; }
.clearfix{display:inline-block; }
.clearfix{display:block; }


.index_body{ background:url(../images/index_bg.gif) repeat-x top; height:737px;}
.index_main{ width:980px; margin:0 auto; padding-bottom:40px!important;_padding-bottom:0px;}
.index_main_nav{ float:left; width:980px;}
.index_main_nav span{ float:left; width:980px;}

/*- Form Style -*/	

/*- Header Style -*/
.header{ background:url(http://www.smartmad.com../images/index../images/headerbg_02.gif) repeat-x; height:121px; padding-bottom:0px}
.header_width{  }

/*- navchannels -*/

.header .channels{float:right; width:680px;}
.header .ch_en{ float:right; margin-top:23px;padding-right:15px;}
.header .ch_en a{ margin-left:10px;}
#fancymenu {position: relative;height: 24px;width: 600px; margin:20px 0 10px 0; }
/* Don't apply padding here (offsetWidth will differ in IE)
    If you need padding add it to the child anchor */
#fancymenu ul li{float: left; list-style: none;}
#fancymenu ul li a{text-indent: -500em; z-index: 10; display: block; float: left;height: 24px; position: relative; overflow: hidden;}
 


/*- Public Body -*/
.public_body{ background:#fff;}
.public_body .banner_box1{ width:980px; margin:10px auto;}
.public_main{ width:980px; margin:0 auto; padding-bottom:40px;}
.public_main .public_left{ background:url(http://www.smartmad.com../images/index../images/public_box_06.gif) no-repeat; width:710px; float:left;}
.public_main .public_right{ background:url(http://www.smartmad.com../images/index../images/public_rightbox_08.gif) no-repeat; width:260px; float:left; height:387px; margin-left:10px;}


/*- OtherPage Body -*/
.public_body .banner_box2{ width:980px; margin:10px auto;}
.public_body .banner_box2 img.imgright{float:right}
.otherpage_main{ width:980px; margin:0 auto; padding-bottom:40px; }
.otherpage_main_login{ width:980px; margin:0 auto; padding-bottom:40px; background:url(http://www.smartmad.com../images/index../images/loginbg_02.gif) no-repeat;}
.otherpage_main .otherpage_left{ width:215px; margin-top:10px; float:left;}
.otherpage_main .otherpage_left .menullist{ width:215px; background:url(http://www.smartmad.com../images/index../images/aboutnav_12.gif) repeat-y; padding:10px 0;}
.otherpage_main .otherpage_left .menullist a{ display:block; padding:10px 5px 8px 25px; width:185px; font-size:14px; height:21px; line-height:21px; color:#333;}
.otherpage_main .otherpage_left .menullist a:hover{ background:url(http://www.smartmad.com../images/index../images/aboutlisthover_16.gif) no-repeat center; color:#fff; text-decoration:none;}
.otherpage_main .otherpage_left .menullist a.choose{ background:url(http://www.smartmad.com../images/index../images/aboutlisthover_16.gif) no-repeat center; color:#fff; text-decoration:none;}
.otherpage_main .otherpage_left .pagecontact{ background:url(http://www.smartmad.com../images/index../images/contactimg_14.gif) no-repeat; height:225px; padding:63px 15px 25px 15px;}
.otherpage_main .otherpage_left .pagecontact h1{ text-align:center; font-size:24px; color:#cb0005;height:30px; }
.otherpage_main .otherpage_left .pagecontact h2{ font-size:16px; color:#cb0005; text-align:center;}
.otherpage_main .otherpage_left .pagecontact h3{ float:left; height:22px; line-height:22px; width:185px; margin-top:10px; margin-left:6px; display:inline;}
.otherpage_main .otherpage_left .pagecontact a{ float:left; margin:0 5px; display: inline;}
.otherpage_main .otherpage_right{ width:695px; float:left; margin-top:10px; margin-left:10px; padding:0 30px; background:url(http://www.smartmad.com../images/index../images/aboutmain_bg_11.gif) no-repeat top;}
.otherpage_main .otherpage_right .pagemap{text-align:right; font-family:simsun; color:#999; padding-top:20px; line-height:20px; height:20px; border-bottom:1px dashed #ccc;}
.otherpage_main .otherpage_right .pagemap a{ color:#999;}
.otherpage_main .otherpage_right .pagemap a:hover{ color:#666; text-decoration:none;}

/*- fy Style -*/
.fy{TEXT-ALIGN:right; padding: 30px 0 0 0;}
.fy A {	BORDER: #ccc 1px solid; PADDING:2px 5px 2px 5px;  MARGIN: 2px; COLOR: #d8575b; TEXT-DECORATION: none;}
.fy A:hover {BORDER: #bbb 1px solid; COLOR: #666;}
.fy A:active {BORDER-RIGHT: #bbb 1px solid;  COLOR: #666;}
.fy .current {BORDER: #d8575b 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #d8575b;}
.fy .disabled {	BORDER: #ddd 1px solid; PADDING-RIGHT: 5px;PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; COLOR: #ddd; PADDING-TOP: 2px;}



/*head.html*/
/* 
    Document   : member
    Created on : 2011-4-26, 10:23:27
    Author     : Cbwfree
    Description:
        Global Public CSS
*/

/**************************   Public Css   ************************************/
 
 
.float-left { float:left !important; }
.float-right { float:right !important; }
.align-left { text-align:left !important; }
.align-right { text-align:right !important; }
.align-center { text-align:center !important; }

/************************  Header,Footer   **************************/
#html_header,#html_footer,#siteintro,#header_nav { width:100%;text-align:center; }
#html_header { height:87px;background:url(../images/header_bg.jpg) repeat-x; }
#html_footer { height:80px;background:#65a4b8; }
#html_main { width:100%;background:#f2f2f2; }
#siteintro { height:30px;background:#e9e9e9; }
#header_content,#html_content,#footer_content,#siteintro div  { width:980px;margin:0 auto;text-align:justify; }
#header_nav { height:34px;background:url(../images/bg.png) repeat-x 0px -244px; }
#header_nav #header_nav_main { width:960px;margin:0 auto;text-align:justify; }
#header_nav #header_nav_main a { float:left;display:block;margin:7px 6px;width:100px;height:20px;line-height:20px;text-align:center;font-size:13px;font-weight:bold; }
#header_nav #header_nav_main a:hover,#header_nav #header_nav_main a.current { background:url(../images/header_nav_bg.gif) no-repeat;color:#FFFFFF; }
#header_nav #header_nav_main span { float:left;display:block;height:20px;line-height:20px;margin:7px 0px;color:#ebd6c5; }
#html_content { padding:20px 0px;background:#fff;min-height:800px; }
#html_content:after{ content:".";height:0px;display:block; clear:both; visibility: hidden;}
#siteintro div { line-height:30px;text-align:right;font-size:18px;font-weight:bold; }
#html_footer #footer_nav { padding-top:20px; }
#html_footer #footer_copyright { padding-top:10px;font-family:Helvetica,arial,sans-serif; }
#header_content { position:relative; }
#header_content #logo { margin:3px; }
#header_content #advertise { position:absolute;width:500px;height:30px;overflow:hidden;left:180px;top:50px;z-index:99; }
#header_content #advertise ul li { height:30px;line-height:30px;font-size:22px;font-weight:bold;color:#FFF;font-family:Helvetica,arial,sans-serif; }
#header_content #member-nav { position:absolute;right:0px;top:60px;color:#eee;font-size:13px; line-height:30px }
#sitemap { width:920px;margin:0 auto;font-size:13px; }
#sitemap a { color:#666;font-size:13px; }
#sitemap a.current { color:#999; }
.sitestep { text-align:center;margin:20px auto; }
#page-notice { display:none;width:960px;position:absolute;top:0px;z-index:99;}
#message-queue { width:280px;position:absolute;top:2px;right:4px;z-index:999999; }
#MessageQueueShade { display:none;position:absolute;z-index:9999;top:0px;left:0px;background:#000;opacity:0.2;filter:alpha(opacity=20); }
#notice li { padding:0px 6px;line-height:24px; }
#login_nav { color:#fff;overflow:hidden;height:24px;line-height:24px; float:right }
#login_nav a { color:#EEE;font-size:13px;text-decoration:none; }
#login_nav a:hover { color:orangered;text-decoration:underline; }
.content_box{padding:20px; line-height:30px;font-size:14px; width:auto; border:1px #e6e6e6 dashed}

.main{ margin:auto; width:898px;border:1px solid #E9E9E9;  overflow:hidden}
.left{ width:128px; float:left; background:#E5E5E5; padding:15px; overflow:hidden;margin-bottom:-9999px; padding-bottom:9999px;}
.right{ width:690px; padding:25px; float:right;}

.mainbor{margin:0 auto;width:980px;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;height:0px;font-size:1px;line-height:0px;}
.bor, .right_box, .main_box{border:1px solid #e9e9e9; float:left;}
.bor_top{border-top:1px solid #e6e6e6;}
.mar{margin-top:10px;}
.pad10{padding:10px;}
.main_box{width:978px;}
.ml{background-image:url(../images/left_bg.jpg);width:186px;height:384px;padding-top:0px;}
.mr{width:772px;}
.ml li{background-image:url(../images/left_menu_off.jpg);width:165px;height:24px;padding:5px 0px 0px 20px;font-size:14px;}
.ml .on{background-image:url(../images/left_menu_on.jpg);}
.ml .on a{color:#fff;}
.banner4{background-image:url(../images/about/about_banner.jpg);width:772px;height:211px;}
.banner5{background-image:url(../images/about/contact_banner.jpg);width:772px; height:211px;}
.banner6{background-image:url(../images/about/help_banner.jpg);width:958px;height:96px;}
.banner7{background-image:url(../images/about/mes_banner.jpg);width:958px;height:96px;}
.banner8{background-image:url(../images/about/about/news_banner.jpg);width:958px;height:96px;}
.banner9{background-image:url(../images/about/reg_banner2.jpg);width:958px;height:96px;}
.banner10{background-image:url(../images/about/reg_banner.jpg);width:958px;height:96px;}
.contact_box{padding:80px 40px 20px 55px; font-size:14px; line-height:30px;color:#1b386e;}
.contact .fl{width:300px;}
.reg_button{margin-left:90px;}

.page{padding:0px 10px 0px 20px;margin-top:10px;}
.page a{padding:5px; border:1px solid #e2f0f9;margin-right:10px;}
.news{padding:15px 0px 0px 0px;}
.news li{padding:10px 15px 5px 15px; border-bottom:1px dashed #e6e6e6;}
.news_title{font-weight:bold;}
.news_title2, .news_info{text-align:center;}
.news_info span{padding:10px;font-size:12px!important;color:#CCC;}
.news_content{color:#999;font-size:12px;}
.news_title span{font-size:12px!important;font-weight:normal!important; color:#999;padding-left:20px;}

p{text-indet:2em !important}
.public_body,.public_main,.content_box{border:none}
h1{ font-size:18px;text-align:center;color:#666; padding-bottom:5px;}
.content_box h3{background-image:url(../images/h1_title.gif) ; height:25px; line-height:25px; width:950px; margin-top:10px;}
h3 span{ padding-left:10px ; color:#fff !important}
.leftpic{float:left;padding-top:4px;padding-right:5px;}


.content_box{ color:#333}
.content_box span{ font-weight:bold;}
.help_tit{ line-height:40px; font-weight:bold; color:#3c5778; font-size:14px; padding-left:20px;}


/**footer**/
.footer{ background:#e6e6e6; height:100px;}
.footer_nav1{ width:980px; margin:0px auto; padding:0px;}
.footer_inf{ float:left; width:980px; line-height:30px; color:#7e7e7e;}
.footer_link{ float:left; width:980px; padding-top:10px; text-align:left;}
.footer_icp{ float:left; width:980px;}
.footer_icp span{ float:left; width:490px;}
.footer_icp .span1{ text-align:right}


.help_list{ width:154px; line-height:30px; color:#0d7493; padding-left:30px;}
.help_titlist{ float:left; width:732px; line-height:40px; border-bottom:dashed 1px #0d7493; margin-left:20px; padding-top:20px;}
.help_titlist ul{ float:left; width:732px; margin:0px auto; padding:0px;}
.help_titlist li{ float:left; text-align:left; line-height:40px; color:#0d7493; font-size:14px;width:732px; padding-left:20px;}
.help_titlist li a{ text-decoration:none; color:#0d7493}
.help_titlist li a:hover{ text-decoration:underline; color:#F60}


.head_menu_list{ float:left; width:100px; background:#3d5879}
.head_menu_list ul{ float:left; width:100px; margin:0px auto; padding:0px;}
.head_menu_list li{ float:left; width:100px; text-align:center; color:#FFF; line-height:25px; list-style-type:none;}


/*导航*/
ul#topnav {
background:url(../nav.jpg) no-repeat; width:980px; height:35px; line-height:35px;
	float:right;
	list-style: none;
	font-size: 12px;color:#3c5778;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0; 
	text-align:center;
 height:35px; 
 line-height:35px;
	position: relative;

	color:#3c5778;
}
ul#topnav li a {
	float: left; 
 height:35px; 
 line-height:35px;
	color:#3c5778;text-decoration:none;
}
 ul#topnav li a:hover { background-position: left bottom;  color:#FFFFFF; text-decoration:none; }
ul#topnav li .sub {
	position: absolute;	
	top: 42px; left: 0;
	background:#3D5879;
	padding-left:0px;
	width:120px;
	float: left;
	color:#FFFFFF; 
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	display: none;
}
ul#topnav li .row {clear: both; float: left; color:#FFFFFF; }
ul#topnav li .sub ul{
	list-style: none;
	margin: 0; padding: 0;
	float: left;
	color:#FFFFFF; 
}
ul#topnav .sub ul li {
	width: 115px;
	color:#FFFFFF;
}
ul#topnav .sub ul li a {
	float: none; 
	text-indent: 0; /*--Reset text indent--*/
	height: auto;
	text-align:left;
	 width:120px;
	display: block;
	text-decoration: none;
	color:#FFFFFF;
}
ul#topnav .sub ul li a:hover {color:#FFF; 	float: none; 
	text-indent: 0; /*--Reset text indent--*/
	height: auto;
	text-align:left;
	 width:120px;
	display: block;
	text-decoration:underline;}
/*网站公告*/	
.help_titlist_gg{ float:left; width:732px; line-height:40px; border-bottom:dashed 1px #0d7493; margin-left:20px; padding-top:20px; padding-bottom:20px;}
.help_titlist_gg ul{ float:left; width:732px; margin:0px auto; padding:0px;}
.help_titlist_gg li{ float:left; text-align:left; line-height:45px; color:#0d7493; font-size:14px;width:712px; padding-left:20px;}
.help_titlist_gg li .gg_tit{ float:left; width:500px;}
.help_titlist_gg li .gg_time{ float:right; width:200px; text-align:center;}
.help_titlist_gg li a{ text-decoration:none; color:#0d7493}
.help_titlist_gg li a:hover{ text-decoration:underline; color:#F60}
.help_gg_page{ float:left; text-align:center; width:732px; line-height:45px; margin-left:20px; padding-top:10px; padding-bottom:10px;}
.help_gg_page a{ text-decoration:none; color:#F60}
.help_gg_page a:hover{ text-decoration:none; color:#0d7493}
	