@charset "utf-8";
/*pup modal style*/
.popmodal {
    min-width: 560px;
    width: auto;
    max-width: 794px;
    /* position: absolute; */
    background: none repeat scroll 0 0 #F9F9F9;
}

.pop_modal_body{
    min-height:100px;
    padding: 10px 0px 10px 0px;
}

.add_page_style{
    width: 794px;
    top: 40px;
}

/*loading mask style*/
.loading_mask{
    position: absolute;
    z-index: 9999;
    background-color: #000;
    opacity: 0.5;
    width: auto;
    height: auto;
    top: 229px;
    text-align: center;
    vertical-align: middle;
}
.loading_mask > img{
    margin-top:-16px;
}

a {
	color: #0088cc;
}

ul.ztree {
	margin-top: 10px;
	border: 1px solid #617775;
	background: #f0f6e4;
	width: auto;
	min-height:200px;
	height: auto;
	max-height:400px;
	overflow-y: scroll;
	overflow-x: auto;
}

ul.line {
	height: auto;
}