<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>zfire</display-name>
    <!-- 配置spring配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 配置 sessionFilter-->
    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>com.dev.huining.soft.web.zfire.filter.SessionFilter</filter-class>
        <init-param>
            <param-name>redirectURL</param-name>
            <param-value>/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>excludedCheckURLList</param-name>
            <param-value>/login.html,/login.do</param-value>
        </init-param>
        <init-param>
            <param-name>excloudRegex</param-name>
            <param-value>^UC_.+_M$</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <!-- end 配置 sessionFilter-->

    <!-- 配置 springMVC-->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- end 配置spring MVC -->

    <!-- 服务启动时，初始化相关的配置和数据-->
    <servlet>
        <servlet-name>webInit</servlet-name>
        <servlet-class>com.dev.huining.soft.web.zfire.servlet.SystemInitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>





